.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
  background-color: #f6f8fa;
}

.welcome-card {
  width: 500px;
  text-align: center;
  padding: 1rem;

  h2 {
    color: #0044cc;
  }

  p {
    color: #555;
  }
}

mat-card {
  border-radius: none;
  box-shadow: none;
}

mat-card-header {
  padding: 1rem;
  border-bottom: 1px solid #1f59ce;
  border-radius: 0 0 10px 10px;
}

mat-card-title {
  font: {
    weight: bold;
    size: x-large;
    style: oblique;
  }

  cursor: pointer;
  transition: color 0.2s ease;
  transition: transform 0.2s ease;

  &:hover {
    color: #0044cc;
    transform: scale(1.05);
  }
}

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}
