<mat-card fxFlex fxLayout="column">
  <mat-card-header>
    <div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5%">
      <mat-card-title
        (click)="restartSkillsFilter()"
        routerLink="skills"
        routerLinkActive="active-tab"
        [routerLinkActiveOptions]="{ exact: true }"
        >My skills</mat-card-title
      >
      <mat-card-title
        routerLink="offers"
        routerLinkActive
        #rlaMyOffers="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [class.active-tab]="rlaMyOffers.isActive && !(globalOffer$ | async)"
        (click)="restartOffersFilter(false)"
        >My offers</mat-card-title
      >
      <mat-card-title
        routerLink="offers"
        routerLinkActive
        #rlaGlobalOffers="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [class.active-tab]="rlaGlobalOffers.isActive && (globalOffer$ | async)"
        (click)="restartOffersFilter(true)"
        >Offers</mat-card-title
      >
      <!-- <mat-card-title routerLink="requests">Requests</mat-card-title> -->
    </div>
  </mat-card-header>
  <router-outlet></router-outlet>
</mat-card>
