:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

mat-card {
  border-radius: none;
  box-shadow: none;
}

mat-card-header {
  padding: 1rem;
  border-bottom: 1px solid #1f59ce;
  border-radius: 0 0 10px 10px;
}

mat-card-title {
  font: {
    weight: bold;
    size: x-large;
    style: oblique;
  }

  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.2s ease;
  transition: transform 0.2s ease;

  &:hover {
    color: #0044cc;
    transform: scale(1.05);
  }
}

.active-tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #0044cc; // Material primary
  border-radius: 2px;
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
