// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.clickable:hover {
  color: #ffb522;
}

@media screen and (min-width: 1024px) {
  .inline-padding {
    padding-inline: 10%;
  }
  .inline-margin {
    margin-inline: 10%;
  }
}

.top-margin {
  margin-top: 2%;
}

.border-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-rounded {
  border-radius: 10px;
}

.white-bg {
  background-color: #fff;
}

.gray-bg {
  background-color: #e9eaed;
}

.scaling-up {
  transition: transform 0.2s;
}

.scaling-up:hover {
  transform: scale(1.02);
}
