@if (length$ | async) {
  <ng-content></ng-content>

  <div fxFlex fxLayout="column" fxLayoutAlign="space-between">
    <div class="offers-grid">
      @for (offer of offers$ | async; track offer.id) {
        <mat-card class="offer-card" [ngClass]="statusClasses[offer.status]">
          <app-offer-item [offer]="offer"></app-offer-item>
        </mat-card>
      }
    </div>

    <mat-paginator
      [length]="length$ | async"
      [pageSize]="(filter$ | async)!.pageSize"
      [pageIndex]="(filter$ | async)!.page"
      (page)="getData($event)"
    >
    </mat-paginator>
  </div>
} @else if (loading$ | async) {
  <app-loader [overlay]="false"></app-loader>
} @else {
  <app-empty-state title="No offers yet." message="You haven't created any offers.">
    <button mat-fab extended color="primary" routerLink="create">
      <mat-icon matPrefix>create</mat-icon>CREATE YOUR FIRST OFFER
    </button>
  </app-empty-state>
}
