:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 25px;
  justify-content: center;

  height: 100%;
  padding: 3% 10%;

  @media screen and (max-width: 850px) {
    padding-top: 5%;
  }
}

.offer-card {
  min-height: 250px;
  max-height: 250px;
  padding: 5%;
  border: 1px solid #ccc;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #fff;
}

.offer-card {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}

app-empty-state {
  button {
    font-weight: bold;
    color: #fff;
    background-color: #0044cc;
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease;

    &:hover {
      background-color: #003399;
      transform: scale(1.05);
    }

    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
