mat-list mat-list-item {
  height: 100%;
}

mat-list {
  padding: 4%;
}

mat-list-item {
  border: 1px solid #ccc;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #fff;
}

mat-list-item {
  cursor: grab;
  transition: transform 0.2s;
}

mat-list-item:hover {
  transform: scale(1.02);
}

.empty-skills {
  padding-left: 20px;
}
