<mat-card fxFlex="100%" [routerLink]="[userSkill.id]">
  <mat-card-content class="clickable-text">
    <div
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="3%"
    >
      <mat-card-title>
        {{ userSkill.skill?.name }}
      </mat-card-title>
      @if (userSkill.description) {
        <div class="responsive-text" [appOverflowTooltip]="userSkill.description">
          {{ userSkill.description }}
        </div>
      }
      <div>
        {{ userSkill.createdAt | date: dateFormat }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
