mat-card {
  cursor: pointer;
}

mat-card-title {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.mat-mdc-card-title {
  color: inherit;
}

.title {
  color: rgb(211, 33, 33);
}

.clickable-text:hover {
  color: #0044cc;
}

.responsive-text {
  max-width: 100%;
  min-width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 600px) {
    text-align: center;
    white-space: normal;
    overflow: visible;
    word-break: break-word;
  }
}
