<form fxLayout="column" fxLayoutGap="20px" #skillForm="ngForm" (ngSubmit)="onSubmit(skillForm)">
  <mat-card-title>Add a new Skill to your collection</mat-card-title>

  <app-remote-searchable-select
    [label]="'Category'"
    [maxPage]="2"
    [pageSize]="2"
    [size]="'small'"
    [fetchFn]="fetchCategoryFn"
    [displayFn]="categoryLabel"
    [trackBy]="trackCategory"
    name="category"
    [(ngModel)]="category"
    required
  />

  <app-remote-searchable-select
    [label]="'Skill'"
    [maxPage]="2"
    [pageSize]="2"
    [size]="'small'"
    [fetchFn]="fetchSkillFn"
    [displayFn]="skillLabel"
    [trackBy]="trackSkill"
    name="skill"
    [(ngModel)]="skill"
    [extraFilters]="skillExtraFilters()"
    [disabled]="!category()"
    required
  />

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      ngModel
      #descriptionInput="ngModel"
      name="description"
      rows="4"
      maxlength="100"
    ></textarea>
    <mat-hint align="end">{{ descriptionInput.value?.length || 0 }}/100 </mat-hint>
    @if (descriptionInput.hasError('maxlength')) {
      <mat-error>Description is too long (max 100 characters)</mat-error>
    }
  </mat-form-field>

  <button
    mat-fab
    extended
    class="add-button"
    color="primary"
    type="submit"
    [disabled]="skillForm.invalid"
  >
    <mat-icon matPrefix fontIcon="add_circle"></mat-icon>ADD SKILL
  </button>
</form>
