:host {
  display: flex;
  flex-direction: row;
}

.filter-item {
  min-width: 150px;
}

.status-active {
  background: rgba(0, 218, 11, 0.85);
}

.status-paused {
  background: rgba(255, 178, 55, 1);
}

.status-archived {
  background: rgba(150, 146, 146, 1);
}
