:host {
  display: flex;
  flex-direction: row;
}

mat-card {
  margin: 3% 5% 0 5%;
}

mat-card-title {
  font-weight: bold;
  font-size: 25px;
  padding: 2%;

  color: #0044cc;
  transition: color 0.2s ease;
  transition: transform 0.2s ease;

  &:hover {
    color: #003399;
    transform: scale(1.05);
  }
}

.filter-container {
  padding: 0 30px;

  button {
    font-weight: bold;
    color: #fff;
    background-color: #0044cc;
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease;

    &:hover {
      background-color: #003399;
      transform: scale(1.05);
    }

    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
