@if (user) {
  <section fxLayoutAlign="center" fxLayoutGap="5%">
    <mat-card fxLayout="column" fxFlex.lt-md="100%" fxFlex.lt-lg="70%" fxFlex.gt-sm="55%">
      <mat-toolbar class="signup-toolbar" color="primary">
        <mat-card-title fxFlex="100%">Your profile page</mat-card-title>
      </mat-toolbar>

      <mat-card-content>
        <form
          fxLayout="column"
          fxLayoutGap="40px"
          #signupForm="ngForm"
          (ngSubmit)="onSubmit(signupForm)"
        >
          <div class="rating-info" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <div>
              <strong>Average rating:</strong><span> {{ user.ratingAvg | number: '1.1-2' }} </span>
            </div>
            <div>
              <strong>Rating count:</strong><span> {{ user.ratingCount }} </span>
            </div>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <a class="click-region" (click)="fileUpload.choose()">
              <p-avatar
                [image]="formatImage(uploadedImage)"
                size="xlarge"
                shape="circle"
                class="profile-picture"
                [style]="AVATAR_STYLE"
              ></p-avatar>
              <mat-icon class="edit-icon" color="primary" fontIcon="edit"></mat-icon>
              <p-fileUpload
                name="images[]"
                [url]="UPLOAD_IMAGES_URL"
                #fileUpload
                (onSelect)="onSelectProfilePicture(fileUpload)"
                (onUpload)="onUploadProfilePicture($event)"
                [multiple]="true"
                accept="image/*"
                [maxFileSize]="1000000"
                [style]="{ display: 'none' }"
              ></p-fileUpload>
            </a>
          </div>

          <mat-form-field>
            <mat-label>Username</mat-label>
            <mat-icon matPrefix fontIcon="person"></mat-icon>
            <input
              matInput
              [(ngModel)]="editedUser.username"
              type="text"
              name="username"
              [minlength]="USERNAME_MIN_LENGTH"
              [maxlength]="USERNAME_MAX_LENGTH"
              #usernameInput="ngModel"
            />
            <mat-hint
              >Please enter a username with at least {{ USERNAME_MIN_LENGTH }} and a maximum of
              {{ USERNAME_MAX_LENGTH }} characters.</mat-hint
            >
            @if (usernameInput.hasError('minlength')) {
              <mat-error
                >Username must be at least {{ USERNAME_MIN_LENGTH }} characters long.</mat-error
              >
            }
            @if (usernameInput.hasError('maxlength')) {
              <mat-error
                >Username must be at most {{ USERNAME_MAX_LENGTH }} characters long.</mat-error
              >
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <mat-icon matPrefix fontIcon="email"></mat-icon>
            <input
              matInput
              [(ngModel)]="editedUser.email"
              type="email"
              name="email"
              email
              #emailInput="ngModel"
            />
            @if (emailInput.hasError('email')) {
              <mat-error>Enter valid email</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label> Password </mat-label>
            <mat-icon matPrefix fontIcon="password"></mat-icon>

            <input
              matInput
              ngModel
              [type]="hidePassword() ? 'password' : 'text'"
              name="password"
              placeholder="Enter your password"
              #passwordInput="ngModel"
              (ngModelChange)="resetVisibilityPasswordIfEmpty($event, hidePassword)"
            />

            @if (passwordInput.value) {
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="toogleVisibilityPassword(hidePassword)"
                [attr.aria-label]="'Toggle password visibility'"
                [attr.aria-password]="!hidePassword()"
              >
                <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            }
          </mat-form-field>

          @if (passwordInput.value) {
            <mat-form-field>
              <mat-label> New password </mat-label>
              <mat-icon matPrefix fontIcon="password"></mat-icon>

              <input
                matInput
                ngModel
                [type]="hideNewPassword() ? 'password' : 'text'"
                name="newPassword"
                placeholder="Enter new password"
                [pattern]="PASSWORD_PATTERN"
                #newPasswordInput="ngModel"
                (ngModelChange)="resetVisibilityPasswordIfEmpty($event, hideNewPassword)"
              />

              @if (newPasswordInput.value) {
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="toogleVisibilityPassword(hideNewPassword)"
                  [attr.aria-label]="'Toggle password visibility'"
                  [attr.aria-password]="!hideNewPassword()"
                >
                  <mat-icon>{{ hideNewPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              }

              @if (newPasswordInput.hasError('pattern')) {
                <mat-error
                  >Password must contain uppercase and lowercase letters, a number, a special
                  character, and be at least 8 characters long.</mat-error
                >
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label> Confirm new password </mat-label>
              <mat-icon matPrefix fontIcon="password"></mat-icon>

              <input
                matInput
                ngModel
                [type]="hideConfirmNewPassword() ? 'password' : 'text'"
                name="confirmNewPassword"
                placeholder="Enter confirm new password"
                #confirmNewPasswordInput="ngModel"
                (ngModelChange)="resetVisibilityPasswordIfEmpty($event, hideConfirmNewPassword)"
              />

              @if (confirmNewPasswordInput.value) {
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="toogleVisibilityPassword(hideConfirmNewPassword)"
                  [attr.aria-label]="'Toggle password visibility'"
                  [attr.aria-password]="!hideConfirmNewPassword()"
                >
                  <mat-icon>{{
                    hideConfirmNewPassword() ? 'visibility_off' : 'visibility'
                  }}</mat-icon>
                </button>
              }
            </mat-form-field>
          }

          <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">
            <mat-icon matPrefix fontIcon="save"></mat-icon>Save changes
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
}
