<mat-card
  [routerLink]="['/skill', skill.id]"
  fxLayout="row"
  fxLayoutAlign.gt-xs="start center"
  fxLayoutAlign.lt-sm="center center"
>
  <mat-card-content fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxFlex="100%">
    <div fxFlex="100%" fxLayoutGap="3%" fxLayout.gt-xs="row" fxLayout.lt-sm="column">
      <div fxLayout="column" fxLayoutALign="start end" fxFlex.gt-xs="40%" fxFlexOrder.gt-xs="2">
        <div fxLayout="column" fxLayoutAlign="end">User-Avatar</div>
        <div fxLayout="column" fxLayoutAlign="end end" fxFlex fxHide.lt-sm>
          Date-Display Date-Display
        </div>
      </div>
      <a [routerLink]="['/skill', skill.id]" fxLayoutAlign="center center"></a>
      <div
        fxLayout="column"
        class="text-container"
        fxFlex.gt-xs="60%"
        fxLayoutAlign.lt-sm="center center"
        fxLayoutAlign.gt-xs="start start"
      >
        <mat-card-title class="clickable-text" [routerLink]="['/skill', skill.id]">
          <a fxLayoutAlign="center center">{{ skill.name }}</a>
          <mat-chip>
            <!-- {{skill?.category?.name || ''}} -->
          </mat-chip>
          Price
          <mat-card-subtitle fxFlex="100%" fxLayout="column" fxLayoutAlign="flex-end">
            <div fxLayout fxLayoutAlign="start end" fxFlex="100%">
              <button [routerLink]="['/skill', skill.id]">See more</button>
            </div>
          </mat-card-subtitle>
        </mat-card-title>
      </div>
    </div>
  </mat-card-content>
</mat-card>
