:host {
  display: flex;
  flex-direction: row;
}

.rating-container {
  position: relative;
  border: 1px solid #ccc;
  padding: 1%;
  border-radius: 6px;
}

.box-label {
  position: absolute;
  top: -10px;
  left: 12px;
  background: white;
  padding: 0 6px;
  font-size: 15px;
  font-weight: 500;
  color: #0044cc;
}

.rating-inputs {
  padding-top: 10px;
}

.filter-item {
  min-width: 150px;
}
