:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

mat-card {
  cursor: pointer;
}

mat-card-title {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.mat-mdc-card-title {
  color: inherit;
}

.title {
  color: rgb(211, 33, 33);
}

.clickable-text:hover {
  color: #0044cc;
}

.responsive-text {
  max-width: 100%;
  min-width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 600px) {
    text-align: center;
    white-space: normal;
    overflow: visible;
    word-break: break-word;
  }
}

button {
  font-weight: bold;
  color: #fff;
  background-color: #0044cc;
  transition: background-color 0.2s ease;
  transition: transform 0.2s ease;

  &:hover {
    background-color: #003399;
    transform: scale(1.05);
  }

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ACTIVE */
.status-active {
  background-color: rgba(0, 218, 11, 0.85);
  box-shadow:
    0 0 8px 5px rgba(36, 100, 40, 0.85),
    0 0 20px 10px rgba(36, 100, 40, 0.7);
}

/* PAUSED */
.status-paused {
  background-color: #ffb237;
  box-shadow:
    0 0 8px 5px rgba(196, 132, 29, 0.85),
    0 0 20px 10px rgba(196, 132, 29, 0.7);
}

/* ARCHIVED */
.status-archived {
  background-color: #969292;
  box-shadow:
    0 0 8px 5px rgba(80, 79, 79, 0.85),
    0 0 20px 10px rgba(80, 79, 79, 0.7);
}
