<mat-card fxFlex fxLayout="column" fxLayoutAlign="center" [routerLink]="[offer.id]">
  <mat-card-content class="clickable-text">
    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20%">
      <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="3%">
        <mat-card-title fxFlex="70%">
          {{ offer.title }}
        </mat-card-title>
        <mat-card-title fxFlex="30%">
          {{ offer.meetingType }}
        </mat-card-title>
      </div>
      <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5%">
        @if (offer.description) {
          <div fxFlex="60%" class="responsive-text" [appOverflowTooltip]="offer.description">
            {{ offer.description }}
          </div>
        }
        <div fxFlex="40%">
          {{ offer.createdAt | date: dateFormat }}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
