<mat-card fxFlex="100%">
  <mat-card-content class="clickable-text">
    <div
      fxLayout="column"
      fxLayout.gt-xs="row"
      fxLayoutAlign="space-evenly center"
      fxLayoutGap="3%"
      class="user-container"
    >
      <div fxLayoutAlign="center center">
        <p-avatar
          [image]="formatImage(user.profilePicture)"
          shape="square"
          class="profile-picture"
          [style]="AVATAR_STYLE"
        ></p-avatar>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
          <mat-card-title class="title"> Username </mat-card-title>
          <mat-icon matSuffix color="warn">person</mat-icon>
        </div>
        <span>
          {{ user.username }}
        </span>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
          <mat-card-title class="title"> Email </mat-card-title>
          <mat-icon matSuffix color="warn">email</mat-icon>
        </div>
        <span>
          {{ user.email }}
        </span>
      </div>

      @if (user.ratingAvg !== 0) {
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
            <mat-card-title class="title"> Average rating </mat-card-title>
            <mat-icon matSuffix color="warn">star</mat-icon>
          </div>

          <span>
            {{ user.ratingAvg | number: '1.1-2' }}
          </span>
        </div>
      }

      @if (user.ratingCount !== 0) {
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
            <mat-card-title class="title"> Rating count </mat-card-title>
            <mat-icon matSuffix color="warn">reviews</mat-icon>
          </div>

          <span>
            {{ user.ratingCount }}
          </span>
        </div>
      }

      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
          <mat-card-title class="title"> Registration date </mat-card-title>
          <mat-icon matSuffix color="warn">access_time_filled</mat-icon>
        </div>
        <span>
          {{ user.createdAt | date: dateFormat }}
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
