:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::ng-deep .p-toast-message-success {
  background-color: rgb(100, 100, 100, 0.5);
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
