:root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form {
  padding: 5%;
  margin: 2% 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  form {
    margin: 2% 20%;
  }
}

@media screen and (max-width: 500px) {
  form {
    margin: 2% 10%;
  }
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #0044cc;
  text-align: center;
  padding-bottom: 5%;
}

.add-button {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.2s ease;
  transition: transform 0.2s ease;

  &:valid {
    background-color: #0044cc;
  }

  &:hover {
    background-color: #003399;
    transform: scale(1.05);
  }

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.meeting-group {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 16px;
}

.meeting-type-icon {
  margin-right: 6px;
  font-size: 18px;
  vertical-align: middle;
}

.meeting-date .meeting-time .meeting-duration {
  min-width: 30%;
}
