:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 999;
  }
}
