:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

mat-card {
  border-radius: none;
  box-shadow: none;
}

mat-list mat-list-item {
  height: 100%;
}

mat-list {
  padding: 3% 10%;

  @media screen and (max-width: 850px) {
    padding-top: 5%;
  }
}

mat-list-item {
  border: 1px solid #ccc;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #fff;
}

mat-list-item {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.empty-user-skills {
  padding-left: 20px;
}
