<form fxLayout="column" fxLayoutGap="20px" #skillForm="ngForm" (ngSubmit)="onSubmit(skillForm)">
  <mat-card-title>Create a new Skill</mat-card-title>

  <app-remote-searchable-select
    [label]="'Category'"
    [maxPage]="2"
    [pageSize]="2"
    [size]="'small'"
    [fetchFn]="fetchCategoryFn"
    [displayFn]="categoryLabel"
    [trackBy]="trackCategory"
    name="category"
    [(ngModel)]="category"
    required
  />

  <mat-form-field>
    <mat-label>Name</mat-label>

    <input matInput ngModel #nameModel="ngModel" name="name" type="text" maxlength="30" required />
    @if (nameModel.hasError('required')) {
      <mat-error>Name s required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>

    <textarea
      matInput
      ngModel
      #descriptionModel="ngModel"
      name="description"
      rows="4"
      maxlength="100"
    ></textarea>
    <mat-hint align="end">{{ descriptionModel.value?.length || 0 }}/100 </mat-hint>
    @if (descriptionModel.hasError('maxlength')) {
      <mat-error>Description is too long (max 100 characters)</mat-error>
    }
  </mat-form-field>

  <button
    mat-fab
    extended
    class="submit-button"
    color="primary"
    type="submit"
    [disabled]="skillForm.invalid"
  >
    <mat-icon matPrefix fontIcon="create"></mat-icon>Submit
  </button>
</form>
