:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

mat-card {
  padding: 3% 10%;
}

.details-container {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 3%;

  @media screen and (max-width: 600px) {
    gap: 20px 5%;
  }

  div.detail-item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    border: 1px solid #ccc;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: #fff;
    padding: 3%;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    mat-card-title {
      font-size: 24px;
      margin-bottom: 10px;

      color: #0044cc;
      transition: color 0.2s ease;
      transition: transform 0.2s ease;

      &:hover {
        color: #003399;
        transform: scale(1.05);
      }
    }

    button {
      // color: #0044cc;
      transition: color 0.2s ease;
      transition: transform 0.2s ease;

      &:hover {
        // color: #003399;
        transform: scale(1.05);
      }

      width: 64px;
      height: 64px;

      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 46px;
        width: 46px;
        height: 46px;
        line-height: 1;
      }

      @media screen and (max-width: 600px) {
        width: 48px;
        height: 48px;

        mat-icon {
          font-size: 32px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.resizable-textarea {
  width: 100%;
  min-height: 48px;
  max-height: 100px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  box-shadow:
    inset 0 1px 3px rgba(0, 0, 0, 0.1),
    inset 0 -1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease;

  &:focus {
    border-color: #0044cc;
    outline: none;
  }
}

.responsive-text {
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.textarea-div {
  width: 50%;
}

.textarea-form-field {
  width: 100%;
}
